.main-section.why-flashcash.pb-5em.pb-0-xs
	.container
		h2 Почему FlashCash?
		.flex-2em.child-col-sm-4.child-col-xs-12.child-text-center.child-pb-2em-xs
			.col
				.why-flashcash-item
					.icon
						img(src="./static/images/svg/2/2.svg" alt="Онлайн")
					h4 Онлайн
					p Чтобы получить кредит,
						br
						| вам не нужно идти в банк,
						br
						| занимать очередь и заполнять
						br
						| многостраничные анкеты
			.col
				.why-flashcash-item
					.icon
						img(src="./static/images/svg/2/1.svg" alt="Молниеносно")
					h4 Молниеносно
					p Без долгих проверок
						br
						| документов или доходов.
						br
						| Ответ в течение
						br
						| нескольких минут
			.col
				.why-flashcash-item
					.icon
						img(src="./static/images/svg/2/3.svg" alt="Прозрачно")
					h4 Прозрачно
					p Нет никаких скрытых
						br
						| комиссий
						br
						| и непонятных условий
						br
						| в договоре