.main-section.blue.why-credit
	.container
		h2 Почему стоит взять кредит у нас?
		.flex-2em.child-col-md-3.child-col-sm-4.child-col-xs-12.center
			.col
				.why-credit-item
					.icon
						img(src="./static/images/svg/3/1.svg" alt="")
					.text Не требуем фото
						br
						| и лишних документов
			.col
				.why-credit-item
					.icon
						img(src="./static/images/svg/3/2.svg" alt="")
					.text Не звоним родным
						br
						| или на работу
			.col
				.why-credit-item
					.icon
						img(src="./static/images/svg/3/3.svg" alt="")
					.text Предоставляем
						br
						| три бонусных дня
						br
						| на оплату кредита
			.col
				.why-credit-item
					.icon
						img(src="./static/images/svg/3/4.svg" alt="")
					.text Снижаем ставку
						br
						| постоянным клиентам
			.col
				.why-credit-item
					.icon
						img(src="./static/images/svg/3/5.svg" alt="")
					.text Еженедельно
						br
						| разыгрываем подарки
						br
						| и гасим проценты