.main-section
	.container
		h2 Легко и быстро оформить кредит за 15 минут
		.step-cards-container
			.step-card
				.step
					.number
						| 1
						.time
							span 30
							| секунд
					.text Выберите сумму и срок
			.step-card
				.step
					.number
						| 2
						.time
							span 7
							| минут
					.text Заполните заявку
			.step-card
				.step
					.number
						| 3
						.time
							span 2
							| минуты
					.text Привяжите карту
			.step-card
				.step
					.number
						| 4
						.time
							span 30
							| секунд
					.text Получите деньги на карту