.main-section.blue.simple-ways
	.container
		h2 Простые способы погасить кредит
		.flex-2em.child-col-md-6.child-col-sm-12.child-col-xs-12
			.col.pb-3em-sm.pb-3em-xs.pb-0-md
				.container
					.flex-1em
						.col-sm-4.col-xs-12.mb-1em-xs
							img.simple-way-img(src="./static/images/svg/5/1.svg" alt="")
						.col-sm-8.col-xs-12.description
							div
								h4 В личном кабинете FashCash
								p Вы можете погасить кредит Ваш кредит онлайн не выходя из дома. Просто перейдите в личный кабинет и оплатите займ банковской картой.
							.partners-block.flex-0_5em
								.partner
									img(src="./static/images/png/visa.jpg" alt="" width="70px")
								.partner
									img(src="./static/images/png/visa.jpg" alt="" width="70px")
								.partner
									img(src="./static/images/png/visa.jpg" alt="" width="70px")
			.col
				.container
					.flex-1em
						.col-sm-4.col-xs-12.mb-1em-xs
							img.simple-way-img(src="./static/images/svg/5/2.svg" alt="")
						.col-sm-8.col-xs-12.description
							div
								h4 Через платежные терминалы
								p Оплата кредита в терминале Ibox, EasyPay и City24 - это быстро и удобно. Терминал Вы сможете найти в ближайшем к Вам супермаркете.
							.partners-block.flex-0_5em
								.partner
									img(src="./static/images/png/visa.jpg" alt="" width="70px")
								.partner
									img(src="./static/images/png/visa.jpg" alt="" width="70px")
								.partner
									img(src="./static/images/png/visa.jpg" alt="" width="70px")
