.main-section.security-block.pb-5em.pb-1em-xs
	.container
		h2 Мы заботимся о вашей безопасности
		.flex-2em.child-pb-2em-xs.child-col-xs-12.items-center-xs
			.col-sm-4.text-center
				.security-block-item
					.icon
						img(src="./static/images/svg/8/1.svg" alt="")
					p Чесно говорим об условиях
						br
						| займа - без скрытых платежей
						br
						| и скрытых комиссий
				a(href="#") Подробнее о защите данных
			.col-sm-4.text-center
				.security-block-item
					.icon
						img(src="./static/images/svg/8/2.svg" alt="")
					p Несем ответсвенность за сохранность
						br
						| Ваших данных подтверждено
						br
						| сертификатом PCI DSS
				a(href="#") Подробнее о защите данных
			.col-sm-4.text-center
				.security-block-item
					.icon
						img(src="./static/images/svg/8/3.svg" alt="")
					p Cоблюдаем законы о защите
						br
						| Ваших прав пользователя
				a(href="#") Подробнее о защите данных