.calculate-section
	.owl-carousel#calculate-carousel
		.item(style="background-image: url('./static/images/png/students2.png')")
			.front-image
				img(src="./static/images/png/students1.png", alt="Front")
			.description
				.container
					.flex-2em
						.col-sm-5
							a.slider-text(href="#" title="")
								h3 Студенты с FlashCash
								h4 кредиты для студентов под 0%
								p у тебя есть студенческий билет? Тогда быстро регистрируйся и получай свой первый кредит
							a.btn-main.btn-white(href="#") Подробности
		.item(style="background-image: url('./static/images/png/layer-back.png')")
			.front-image
				img(src="./static/images/png/layer-front.png", alt="Front")
			.description
				.container
					.flex-2em
						.col-sm-5
							a.slider-text(href="#" title="")
								h3 Привіт! Під 0% це кредит
								h4 Выгодное предложение для вас и ваших друзей
								p Оформи первый кредит в ФлешКеш или приведи друга и получи выгоду и получите выгоду вместе!
							a.btn-main.btn-white(href="#") Подробности
		.item(style="background-image: url('./static/images/png/friends2.png')")
			.front-image
				img(src="./static/images/png/friends1.png", alt="Front")
			.description
				.container
					.flex-2em
						.col-sm-5
							a.slider-text(href="#" title="")
								h3 Приведи друга
								p приведи друга - получите по 100 грн.
							a.btn-main.btn-white(href="#") Подробности
		.item(style="background-image: url('./static/images/png/vacation.png')")
			.description
				.container
					.flex-2em
						.col-sm-5
							a.slider-text(href="#" title="")
								h3 Отдых с Флеш-Кеш
								h4 планируй отдых заранее
								p Наступила осень! А ты не успел отдохнуть!  Забудь про холод, быстрый кредит за 15 минут
							a.btn-main.btn-white(href="#") Подробности
	.credit-calculate-owl-container
		.container.flex.flex-end.items-center
			form(action="/index.html")
				include ./credit-calculate
	