.product-tabs__container
	.product-tabs__header
		.container
			.flex-center
				.col-12
					ul.tab-elems
						li
							a.active(href="#tab-product") О продукте
							a(href="#tab-tariffs") Тарифы
							a(href="#tab-conditions") Условия
	.product-tabs__content
		.container
			.tab-content#tab-product
				h2 Наш новый продукт
				h3 Самое выгодное предложение от FlashCash.
				p Компания FlashCash не прекращает радовать своих клиентов. Мы знаем, насколько полезной для многих оказалась наша социальная программа #flashcash, поэтому даем возможность новым клиентам также подключится к ней. Условия просты: займы без % на протяжении 3 месяцев. Берёте займ и возвращаете только то, что получили на карту. Никаких комиссий, переплат и процентов.
				p Наша компания – лидер в сфере микрокредитования. Нам важно становится лучше и предлагать своим клиентам самые удобные условия займа. Именно поэтому в рамках проекта #FlashCash мы запускаем акцию “Все займы – бесплатно”. Все новые клиенты FlashCash могут использовать займ 9 2 дня совершенно бесплатно.
				p.bold Преимущества для клиента очевидны:
				ul
					li - никаких процентов;
					li - возможность поднять свой кредитный рейтинг;
					li - возможность улучшить свою кредитную историю.
				p И на десерт – мы предлагаем не только 92 беспроцентных дня, а и безлимит на количество займов.
				p.bold Условия акции:
				ul
					li - Быть новым клиентом компании.
					li - Зарегистрироваться на оформление первого займа на нашем сайте.
					li - Выбрать вариант использования займа: 3 раза (по 30 дней); 6 раз (по 14) и 12 раз (по 7).
					li - Подать заявку на сумму, которая вам необходима.
					li - Добор свободных средств также происходит под 0%.
				p.bold Успейте воспользоваться уникальным предложением!
			.tab-content#tab-tariffs(style="display: none;")
				h2 Пример 2 Пример 2 Пример 2 Пример 2 Пример 2 Пример 2 Пример 2 Пример 2
				h3 Пример 2 Пример 2 Пример 2 Пример 2 Пример 2
				p Компания FlashCash не прекращает радовать своих клиентов. Мы знаем, насколько полезной для многих оказалась наша социальная программа #flashcash, поэтому даем возможность новым клиентам также подключится к ней. Условия просты: займы без % на протяжении 3 месяцев. Берёте займ и возвращаете только то, что получили на карту. Никаких комиссий, переплат и процентов.
				p Наша компания – лидер в сфере микрокредитования. Нам важно становится лучше и предлагать своим клиентам самые удобные условия займа. Именно поэтому в рамках проекта #FlashCash мы запускаем акцию “Все займы – бесплатно”. Все новые клиенты FlashCash могут использовать займ 9 2 дня совершенно бесплатно.
				p.bold Преимущества для клиента очевидны:
			.tab-content#tab-conditions(style="display: none;")
				h2 Пример 3 Пример 3 Пример 3
				h3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3 Пример 3