h2 Адрес проживания
.two-columns
	.column
		.form-group.input-effect
			input(type="text", placeholder="")
			label Страна
			span.focus-border
			span.error-text Заполните поле
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Область
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Район
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Тип населенного пункта
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Название населенного пункта
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group.input-effect
			input(type="text", placeholder="")
			label Индекс
			span.focus-border
			span.error-text Заполните поле
	.column
		.form-group.input-effect
			input(type="text", placeholder="")
			label Улица
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Дом
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Корпус
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Квартира
			span.focus-border
			span.error-text Заполните поле
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Форма собственности
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group.input-effect
			input(type="text", placeholder="")
			label Срок проживания
			span.focus-border
			span.error-text Заполните поле
h2.mt-20 Адрес регистрации
.form-group.text-center
	label.control.control--checkbox Совпадает с адресом проживания
		input(type="checkbox" checked="checked" id="registration-address-checkbox")
		.control__indicator
#registration-address
	.two-columns
		.column
			.form-group.input-effect
				input(type="text", placeholder="")
				label Страна
				span.focus-border
				span.error-text Заполните поле
			.form-group
				.select.full
					select(name="date" required="required")
						option(disabled selected value) Область
						option 13
						option 14
						option 15
					.select__arrow
						i.icon-fc-angle-down
					span.error-text Выберите
			.form-group
				.select.full
					select(name="date" required="required")
						option(disabled selected value) Район
						option 13
						option 14
						option 15
					.select__arrow
						i.icon-fc-angle-down
					span.error-text Выберите
			.form-group
				.select.full
					select(name="date" required="required")
						option(disabled selected value) Тип населенного пункта
						option 13
						option 14
						option 15
					.select__arrow
						i.icon-fc-angle-down
					span.error-text Выберите
			.form-group
				.select.full
					select(name="date" required="required")
						option(disabled selected value) Название населенного пункта
						option 13
						option 14
						option 15
					.select__arrow
						i.icon-fc-angle-down
					span.error-text Выберите
			.form-group.input-effect
				input(type="text", placeholder="")
				label Индекс
				span.focus-border
				span.error-text Заполните поле
		.column
			.form-group.input-effect
				input(type="text", placeholder="")
				label Улица
				span.focus-border
				span.error-text Заполните поле
			.form-group.input-effect
				input(type="text", placeholder="")
				label Дом
				span.focus-border
				span.error-text Заполните поле
			.form-group.input-effect
				input(type="text", placeholder="")
				label Корпус
				span.focus-border
				span.error-text Заполните поле
			.form-group.input-effect
				input(type="text", placeholder="")
				label Квартира
				span.focus-border
			.form-group
				.select.full
					select(name="date" required="required")
						option(disabled selected value) Форма собственности
						option 13
						option 14
						option 15
					.select__arrow
						i.icon-fc-angle-down
					span.error-text Выберите
			.form-group.input-effect
				input(type="text", placeholder="")
				label Срок проживания
				span.focus-border
				span.error-text Заполните поле
