h2 Данные о месте работы
.two-columns
	.column
		.form-group.input-effect
			input(type="text", placeholder="")
			label Название предприятия
			span.focus-border
			span.error-text Заполните поле
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Организационная форма предприятия
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Отрасль
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Количество сотрудников
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group.input-effect
			input(type="text", placeholder="")
			label Рабочий телефон
			span.focus-border
			span.error-text Заполните поле
	.column
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Категория должности
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Специальность (направление деятельности)
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Срок работы на данном предприятии
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Общий стаж работы
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Занятость
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
h2.mt-20 Адрес предприятия
.two-columns
	.column
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Область
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Район
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Тип населенного пункта
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Название населенного пункта
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group.input-effect
			input(type="text", placeholder="")
			label Индекс
			span.focus-border
			span.error-text Заполните поле
	.column
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Тип улицы
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group.input-effect
			input(type="text", placeholder="")
			label Улица
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Дом
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Корпус
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Офис
			span.focus-border
			span.error-text Заполните поле
