.two-columns
	.column
		h2 Персональные данные
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Семейное положение
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Образование
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
		.form-group.input-effect
			input(type="text", placeholder="")
			label Количество детей
			span.focus-border
			span.error-text Заполните поле
	.column
		h2 Данные другого контактного лица
		.form-group.input-effect
			input(type="text", placeholder="")
			label Имя
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Фамилия
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Отчество
			span.focus-border
			span.error-text Заполните поле
		.form-group.input-effect
			input(type="text", placeholder="")
			label Телефон
			span.focus-border
			span.error-text Заполните поле
		.form-group
			.select.full
				select(name="date" required="required")
					option(disabled selected value) Степень отношений с клиентом
					option 13
					option 14
					option 15
				.select__arrow
					i.icon-fc-angle-down
				span.error-text Выберите
