extends template/main

block variables
	- var title = 'Акции'
	- var pageClass = ''

block content
	- var headName = 'Про компанию FlashCash'
	include ./modules/head-with-image
	.pt-5em.pt-2em-xs.pb-5em.pb-2em-xs
		.container
			p.f-medium.mb-2em Фінансова компанія, експерт у сфері споживчого кредитування фізичних осіб. Офіси FlashCash розташовані в більшості міст України, наші співробітники професіонали своєї справи і завжди знайдуть для Вас краще рішення. Якщо Ви починаєте ремонт, хочете оновити побутову техніку, плануєте навчання дітей, зібралися у відпустку і Вам потрібна фінансова допомога - це до нас! До зустрічі!
			p.f-medium.text-center FlashCash - ВАШ НАДежный финансовый партнер
			p.f-medium.text-center ЖИВИ, ПЛАНИРУЙ ДЕЙСТВУЙ!
	.bg-blue.pb-5em.pb-2em-xs.about
		.container
			h2.semibold.pt-3em.pb-2em.pt-2em-xs.pb-1em-xs.size-1_5em.text-center.dark-blue Почему выбирают нас
			ul.custom-ul
				li
					span Кредити до 30 000 грн
				li
					span Тільки паспорт і ІПН
				li
					span Рішення за 20 хвилин
				li
					span Немає прихованих відсотків, комісій, штрафів
				li
					span Гроші на картку будь-якого Банку
				li
					span Оформлення заявки, де зручно Вам: офіс компанії, робота, дім
				li
					span Знижки пенсіонерам та постійним клієнтам
				li
					span Ми експерти в сфері споживчого кредитування фізичних осіб
			p.text-center.f-medium.size-0_9em.mb-1em Вопросы задавайте по телефону 0 (800)70-70-70 (звонки  бесплатные по Украине) или в нашем чате.
			p.text-center.f-medium.size-0_9em.c-orange Юридическая информация ТОВ ФЛЭШ КЭШ