extends template/personal

block variables
	- var title = 'Личный кабинет | Смена пароля'
	- var pageClass = ''
	- var headName = 'Смена пароля'

block content
	.user-name
		| Имя Фамилия Отчество
		i#edit-data.icon-fc-pencil(aria-hidden="true")
	.user-id ID 106908
	.data-block
		.data-block-content
			.flex-2em.child-col-md-6.child-col-sm-12.child-col-xs-12
				.col
					.form-group.input-effect.mini-input
						.flex-1em.child-col-xs-12.child-col-sm-12.child-col-md-6.items-center
							.col
								label Логин
							.col
								input(type="text" value="+ 38 (0__) - ___ - __ - __" disabled="disabled")
					.form-group.input-effect.mini-input
						.flex-1em.child-col-xs-12.child-col-sm-12.child-col-md-6.items-center
							.col
								label Новый пароль
							.col
								input(type="text" value="" disabled="disabled")
				.col
					.form-group.input-effect.mini-input
						.flex-1em.child-col-xs-12.child-col-sm-12.child-col-md-6.items-center
							.col
								label Старый пароль
							.col
								input(type="text" value="" disabled="disabled")
					.form-group.input-effect.mini-input
						.flex-1em.child-col-xs-12.child-col-sm-12.child-col-md-6.items-center
							.col
								label Повторите пароль
							.col
								input(type="text" value="" disabled="disabled")
			.actions.text-right.mt-4em
				button.btn-main.btn-orange(type="submit") Сохранить