extends template/personal

block variables
	- var title = 'Личный кабинет | Кредиты'
	- var pageClass = ''
	- var headName = 'Кредиты'

block content
	.size-1_1em.c-orange.semibold.mb-1_5em Ваш платеж принят!
	p.f-medium Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят! Поздравляем, Ваш платеж принят!