.reset-pass-container
	h2 Вход в личный кабинет
	.reset-pass
		h4 Возникли проблемы при входе в систему?
		h5 Пожалуйста, введите код из СМС для входа.
		form
			.form-group.input-effect
				input(type="tel" name="tel")
				label Код
			.repeat
				a(href="#") Отправить код еще раз
			button.btn-main.btn-orange(type="submit") Войти